body {
    overflow: hidden;
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../rem-wallpaper');
    background-size: contain;
}

canvas {
    width: 100%;
    height: 100%;
}
